@import url(./__triangle/kaufman__triangle.css);

/*Блок kaufman*/
.kaufman {
background-color: #1f1f1f;
position: relative;
z-index: -1;
overflow: hidden;
padding-top: 90px;
padding-bottom: 90px;
}

